<% order.products.each do |product| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= order.customer.name %></td>
  </tr>
<% end %>
