<form class="new_product">
  <h3>Add a new product:</h3>
  Product Name:<input type="text" name="product_name">
  Product Description:<input type="text" name="description">
  <input type="button" name="name" id="submit">
</form>
