<h4><%= product.name %></h4>
<div id="body-<%= product.id %>">
  <%= truncate product.description %><br>
  <button class="js-more" data-id="<%= product.id %>" name="More Info">More Info</button>
</div>


