<%# Create an index page for all products that displays name and a truncated description, but not inventory. %>
<h1><%= product.id %> <%= product.name %></h1>
<p><%= truncate(product.description) %></p>