<h2>Name: <%= product.name %></h2>
<div id="description-<%= product.id %>">Description: <%= truncate product.description %></div>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
