<h2><%=product.name%></h2>
<p id="body-<%= product.id %>"><%=truncate product.description%></p>



<%# <%= button_to "More Info", "/products/#{product.id}/description", {method: :get, remote: true, data: {id: product.id}} %> %>
