<!-- <button id="js-inventory" data-type='inventory' data-id="<%= p.id %>">Inventory</button> -->


<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $("#js-inventory").on('click',function() {
      var id = this.dataset.id;
      $.get('/products/' + id + "/inventory", function(data) {
        $("#inventory-" + id).text(data);
      })
    })
  })

</script> -->
