<h2> Product Index </h2>

<% @products.each do |product| %>
	<%= product.name %><br>
	<% if product.description.present? %>
		<div id="product-<%= product.id %>">
			<%= truncate(product.description) %><br>
		<div>
	<% end %>
	<button class="js-more" data-id="<%= product.id %>"> More Info </button><br><br>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");

    $.get("/products/" + id + "/description", function(description) {
			$.get("/products/" + id + "/inventory", function(inventory) {
			let inventoryText;
				if(inventory === "true"){
					inventoryText = '<p> Available </p>'
				} else {
					inventoryText = '<p> Sold Out </p>'
				}
			let descriptionText = "<p>" + description + "</p>" + inventoryText;
			$("div#product-" + id).append('<br>', descriptionText);
			})
    });
  });
});
</script>
