<h1>Products</h1>
<% @products.each do |product| %>
  <ul>
    <li><%= product.name %></li>
    <div id="desc-<%=product.id%>"><ul><li><%= truncate product.description %></li></ul></div>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
  </ul>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function (){
    let desc_text = ""
    let avail_text = "Sold Out"
    $(".js-more").on('click', function(){
      var id = $(this).data("id");
      $.get("/products/"+id+"/description", function(description){
        desc_text = description
        $.get("/products/"+id+"/inventory", function(inventory){
          if(inventory==="true"){
            avail_text = "Available"
          }
          $("#desc-"+id).html("<ul><li>"+desc_text+"</li><li>"+avail_text+"</li></ul>")
        })
      })
    })
  })
</script>
