<% @products.each do |product| %>

<div id="product-<%=product.id%>"><%= product.name %>
<%= truncate product.description %></div>

<button class="js-more" data-id="<%=product.id %>">More Info</button>

<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    let id = $(this).data("id");
    $.get("/posts/" + id + "/description", function(data) {
$("#description-" + id).text(data)
    });
  });
});
</script>
