<div class="products">
  <%= render @products %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on('click', function () {
      let id  = $(this).data('id');
      $.get("/products/" + id + "/description", function(data) {
        $('#description-' + id).text(data);
        $('#inventory-' + id).show();
      });
    });
  });
</script>
