<% @products.each do |product| %>

<h1><%= product.name %></h1>
<div id="description-<%= product.id %>"><%= truncate product.description %></div>

<button class="js-more" data-id="<%= product.id %>">More Info</button>

<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    }).success($.get("/products/" + id + "/inventory", function(data) {
      data == "true" ? $("#description-" + id).append("<p>Available</p>") : $("#description-" + id).append("<p>Sold Out</p>")
    }));
  });
});
</script>
