<h2>Products</h2>

<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).html(data + '<br><br>');
    });
    $.get("/products/" + id + "/inventory", function(data) {
      var availability = (data === "true" ? "Available" : "Sold Out");
      $("#body-" + id).append(availability);
    });
  });
});
</script>
