<h1>All Products</h1>

<div class="">
    <%@products.each do |product|%>
      <strong><%=product.name%></strong>
      <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>
        <!-- <li><%#= product.inventory? ? "Available" : "Sold Out"%> </li> -->
      <button class="js-more" data-id="<%= product.id %>">More Info</button>
        <br>
      <%end%>
</div>

<!-- <script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-more").on('click', function(){
      let id = $(this).data('id');
      $.get("/products/"+ id + "/description", function(data){
        $("#product-"+id).text(data)
      })
    })
  })
</script> -->


<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
