<h1>Products</h1>
<ul>
<% @products.each do |p| %>
  <li> <%= render partial: "product", locals: {product: p} %></li>
  <% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "true"){
        var inv = "Available"; }
        else {
          inv = "Sold Out";
        }
        
      $("#inventory-" + id).text(inv);
    });
  });
});
</script>
