<% @products.each do |product| %>
  <h4><%= product.name %></h4>
  <div id="product-<%=product.id%>"><%= truncate(product.description) %></div>
  <button class="js-more" data-id="<%=product.id%>">More Info</button>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(descrip) {
      $.get("/products/" + id + "/inventory", function(inv) {
        var invText = ""
        if(inv === "true"){
        	invText = "<p>Available</p>";""
        } else {
        	invText = "<p>Sold Out</p>";""
        }
        var fullDescrip = "<p>" + descrip + "</p><p>" + invText + "</p>";
        $("#product-" + id).html(fullDescrip);
      });
    });
  });
});
</script>
