<h1><% @products.each do |product| %> </h1>
  <%=render partial: "product", locals: {product: product}%>
<%end%>

<script type="text/javascript" charset = "utf-8">
$(function () {
  $(".js-more").on('click', function() {
    //get the id from data attribute above
    var id = $(this).data("id");
    $.get("/products/" + id + "/body", function(data) {
      // Replace text of body-id div
      $("#body-" + id).text(data);
    });
  });
});
</script>

<script type="text/javascript" charset = "utf-8">
$(function () {
  $(".js-inventory").on('click', function() {
    //get the id from data attribute above
    var id = $(this).data("id");
    $.get("/products/" + id + "/inventory", function(data) {
      alert(id)
      // Replace text of body-id div
      if (data <= 0){
        $("#inventory-" + id).text("false")
      } else {
      $("#body-" + id).text("true");
    }
    });
  });
});
</script>
