<ol>
    <% @products.each do |product| %>
            <li>
                <h2><%= product.name %></h2>
                <div id="body-<%= product.id %>"><%= truncate product.description %> </div>
                <button class="js-more" data-id="<%= product.id %>">More Info</button>
            </li> 
    <% end %>
</ol>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
        if (data === "true") {
            $("#body-" + id).append("<p>Available</p>");
        } else {
            $("#body-" + id).append("<p>Sold Out</p>");
        }
    });
  });
});
</script>