<h1>Products</h1>

<% @products.each do |product| %>
  <div id="info-<%= product.id %>">
    <p><%= product.name %></p>
    <p><%= product.price %></p>
    <p><button class="js-info" data-id="<%= product.id %>">More Info</button></p>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-info").on("click", function() {
      var id = $(this).data("id");
    
      $.get("/products/" + id + "/description",function(data) {
        var p = `<p>${data}</p>`
        $("#info-" + id).append(p);

        $.get("/products/" + id + "/inventory",function(inv) {
          var i;
          if (inv === "true"){
            i = "Available"
          } else {
            i = "Sold Out"
          }

          $("#info-" + id).append(`<p>${i}</p>`);
        })
        
      });
    });
  });
</script>


