<% @products.each do |product| %>
  <%= render partial: 'product', locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.js-more').on('click', function() {
      let id = $(this).data('id')

      $.get("/products/" + id + '/description', function(data) {
        $("#body-" + id).html("<p>" + data + "</p>")

        $.get("/products/" + id + "/inventory", function(data) {
          if (data === "true") {
            $("#body-" + id).append("<p>Available</p>")
          } else {
            $("#body-" + id).append("<p>Sold Out</p>")
          }
        })
      })
    })
  })
</script>
