<% @products.each do |product| %>
	<h1><%= product.name %></h1>
	<div id="description-<%= product.id %>"></div>
	<div id="inventory-<%= product.id %>"></div>
	<button class="js-more-info" data-id="<%= product.id %>">More Info</button>
<% end %>
<script type="text/javascript" charset="utf-8">
	$(function(){
		$(".js-more-info").on('click', function(){
			var id = $(this).data("id");
			$.get("/products/" + id + "/description", function(data){
				$("#description-" + id).text(data);
			});
			$.get("/products/" + id + "/inventory", function(data){
				if(data === "true"){
					$("#inventory-" + id).text("Available");
				}else{
					$("#inventory-" + id).text("Sold Out");
				}
			});
		});
	});
</script>