<% @products.each do |product| %>
  <div class="product-card">
    <h3><%=product.name%></h3>
    <p id="description-<%= product.id %>"><%= truncate product.description %></p>
    <button type="button" class='js-info-btn' data-id="<%= product.id %>">More Info</button>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.js-info-btn').on('click', function(){
      const id = $(this).data('id');
      $.get("/products/" + id + "/description", function(data){
        $("#description-" + id).text(data);
      });
      $.get("/products/" + id + "/inventory", function(data){
        if (data === 'true') {
          $("#description-" + id).after("<p>Available</p>");
        } else {
          $("#description-" + id).after("<p>Sold Out</p>");
        }
      });
    });
  });
</script>
