<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(desc) {
      $.get("/products/" + id + "/inventory", function(inv) {
        var inventoryText = "Available";
        if(inv === "false"){
          inventoryText = "Sold Out";
        }
        var descriptionText = "<p>" + desc + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
