

<% @products.each do |product| %>
  <div><%= product.name%></div>
  <div><%= product.description%></div>

<button class="js-more infor" data-id="<%= product.id%>">More Info</button>

<% end %>


<script type="text/javascript" charset="utf-8">
 $(function(){
    
     $(".js-more").on('click', function(){
         let id = $(this).data("id");
         $.get("/products/" + id + "/inventory", function(data){
             debugger
             $("#inventory-" + id).text(data);
         })
     })
 })


</script>