<h1>Products</h1>
<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <div id="product-<%= product.id %>"><%= truncate product.description %></div>

  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryString = "Available";
        if(inventory === "false") {
          inventoryString = "Sold Out";
        }
        var descriptionString = "<p>" + description + "</p><p>" + inventoryString + "</p>";
        $("#product-" + id).html(descriptionString);
      })
    });
  });
});
</script>
