<h1><% @products.each do |product| %> </h1>
  <%=render partial: "product", locals: {product: product}%>
<%end%>

<script type="text/javascript" charset = "utf-8">
$(function () {
  $(".js-more").on('click', function() {
    //get the id from data attribute above
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
        $.get("/products/" + id + "/inventory", function(inventory) {
          inventoryValue = "Available"
          if(inventoryValue === "false"){
            inventoryValue = "Sold Out"
          }
      $("#body-" + id).html(`<strong>` + descriptionValue + ` | ` +inventoryValue + `</strong>`);
    })
});
</script>
