<% @products.each do |product| %>

<div id="product-<%=product.id%>"><%= product.name %>
<%= truncate product.description %></div>

<button class="js-more" data-id="<%=product.id %>">More Info</button>


<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {

    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $.get("/products/" + id + "/inventory", function(data1) {
        console.log(data)
        if (data1 == "true"){
          var isDataTrue = "Available"}
          else {
            var isDataTrue = "Sold Out"
          }
        // $("#product-" + id).text("Available")}
        // else {
        // $("#product-" + id).text("Sold Out")}
  var fullString = data + isDataTrue
  $("#product-" + id).text(fullString)
      });
    });



  });
});
</script>
