<% @products.each do |product| %>
  <%= render partial: "products", locals: {product: product} %>
<% end %>

<script type="text/javascript">
  $(function () {
    $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(desc) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "Available"
        if (inventory === "false") {
          inventoryText = "Sold Out"
        }
        var descriptionText = "<p>" + desc + "</p><p>" + inventoryText + "</p>";
        debugger
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
