

<% @products.each do |product| %>
  <%= product.name%>
  <div><%= truncate product.description%></div>

<button class="js-more infor" data-id="<%= product.id%>">More Info</button>

<% end %>


<script> type="text/javascript" charset="utf-8">
 $(function(){
     $(".js-more").on('click', function(){
         let id = $(this).data("id");
         $.get("/products/" + id + "/body", function(data){
             $("#inventory-" + id).text(data);
         })
     })
 })

</script>