<h1>All Products</h1>
<% @products.each do |product| %>
  <h3><%= product.name %> <br></h3>
  <div id='body-<%= product.id %>'><%= truncate product.description %></div>
  <button class="js-more" data-id=<%= product.id %>>More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $('.js-more').on('click', function(){
      id = $(this).data('id');
      $.get('/products/' + id + '/description', function(descData){
        $.get('/products/' + id + '/inventory', function(invData){
          var invText = 'Available';
          if (invData === 'false'){
            invText = "Sold Out";
          }
          var descText = '<p>' + descData + '</p><p>' + invText + '</p>';
          $("#body-"+id).html(descText);
        });
      });
    });
  });
</script>
