<h1>All Products</h1>
<ul style="list-style: none; border-style: solid;">
  <li>
    <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
    <% end %>
  </li>
</ul>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if ( data === "true")
        $("#inventory-" + id).text("Inventory: Available")
      else if ( data === "false")
        $("#inventory-" + id).text("Inventory: Sold Out")
    });
  });
});
</script>
