
  <ol>
  <% @products.each do |product| %>
    <li>
      <%= render partial: "products/product", locals: {product: product} %>
      <%= button_tag("More", data: {id: product.id }, class: "js-more" ) %>
    </li>
  <% end %>
  </ol>


<script type="text/javascript" charset="UTF-8">
  $(document).ready(function(){
    $(".js-more").on('click', function(e){
      let id = $(this).data("id");
      $.get("/products/" + id + "/body").success(function(data){
        $("#body-" + id).html("<p>" + data + "</p>");
      })
    })
  })
</script>
