<h1>Products</h1>

<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/products/" + id + "/description", function(data) {
        $("#description-" + id).text(data);
      });
      $.get("/products/" + id + "/inventory", function(data) {

         var avail = (data === "true") ? "Available" : "Sold Out"
         $("#inventory-" + id).append(avail)
      });  
    });
  });
</script>

