<% @products.each do |product| %>
  <%= render partial: "product", locals: {product: product} %>
<% end %>
<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      let id=$(this).data("id");
      $.get('/products/'+id+'/description', function(data) {
        debugger
        $('#product-'+id).text(data)
      })
    })
  });
  $(function () {
    $(".js-more").on('click', function() {
      let id=$(this).data("id");
      $.get('/products/'+id+'/inventory', function(data) {
        let a;
        if (data === "false") {
          a = 'Sold Out'
        } else { a = 'Available'}
        $('#product-'+id).append("<br>" + a);
      })
    })
  });
</script> -->
<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      let id=$(this).data("id");
      $.get('/products/'+id+'/description', function(description) {
        $.get('/products/'+id+'/inventory', function(inventory) {
          let inventoryText;
          if ( inventory === "false") {
            inventoryText = 'Sold Out'
          } else { inventoryText = 'Available'}
        }
          var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $('#product-'+id).text(data)
      })
    })
  });
</script> -->
// <script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
// </script>
