<h1>Products</h1>
<%= render @products %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data=="true") {
        $("#description-" + id).append(" Available");
      }
      else {
        $("#description-" + id).append(" Sold Out");
      }
  });
});
});
</script>
