<ul>
<% @products.each do |product| %>
  <%= product.name %>
  <!-- add truncated description  -->
  <div id="product-<%= product.id %>">
    <%= truncate(product.description) %>
  </div>
  <!--  "See More" button that expands div for more info. Full description + inventory -->
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end  %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory){
        var inventoryText
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>"
        } else{
          inventoryText = "<strong>Available</strong>"
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
