<h1>Products</h1>
<% @products.each do |product| %>
  <h2><%= product.name %></h2>

  <div id="product-<%= product.id %>"><%= truncate(product.description) %></div>

  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    
    $.get("/products/" + id + "/description", function(description) {
      
      $.get("/products/" + id + "/inventory", function(result) {
        
        var inventory = "Available"
        
        if(result === 'false'){
          inventory = "Sold Out";
        }
        
        var text = "<p>" + description + "</p><p>" + inventory + "</p>"
        
        $("#product-" + id).html(text);
      });
    });
  });
});
</script>