<h2>Products</h2>
<ul>
  <%= render(@products) || "No Invoices"%>
</ul>
</table>
<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    let id = $(this).data("id");
    $.get("/products/" + id + "/body", function(data) {
      $("#body-" + id).text(data);
    });
  });
});
</script>