<h1>Products</h1>
<ul>
<% @products.each do |product| %>
  <li>
    <h3><%=product.name%></h3>
    <p><%=product.description%></p>
    <%= button_to "More Info", product_path(product) %>
  </li>
<% end %>
</ul>
