<h1>Products</h1>
<ol>
  <%@products.each do |product| %>
    <li><%= render partial: "product", locals: {product: product}%></li>
  <%end%>
</ol>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/products/" + id + "/description", function(data) {
        $("#description-" + id).text(data);}),
      $.get("/products/" + id + "/inventory", function(data) {
        if (data === "true") {
          $("#span-" + id).text("Available")
        } else {
          $("#span-" + id).text("Sold Out")
        };
       })
      })
    })
</script>
