<ul>
  <% @products.each do |product| %>
    <li id="body-<%= product.id %>">
      <%= product.name %> <%= truncate product.description %> <button class="js-more" data-id="<%= product.id %>">More Info</button>
    </li>
  <% end %>
</ul>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      // get the id from the data attribute
      var id = $(this).data("id");
      var total_product_info =  "";

      $.get("/products/" + id + "/description", function(data) {
        total_product_info += data
        debugger;
        alert(total_product_info)
      });


      $.get("/products/" + id + "/inventory", function(data) {
        if(data === 'true'){
          total_product_info += " - Available";
          debugger;

          alert(total_product_info)
        } else {
          total_product_info += " - Sold Out";
        }
      });
      debugger;

      alert(total_product_info)
      $("#body-" + id).text(total_product_info);
    });
  });
</script>
