<!-- <%= @product.description %>

<%= if @product.in_stock %>
  <p>Available</p>
<% else %>
  <p>Sold out!</p>
<% end %>

<script id="product-details" type="text/handlebars-template">
<%= if @product.in_stock %>
  <p>Available</p>
<% else %>
  <p>Sold out!</p>
<% end %>
</script> -->
